.root {
    -fx-background-color: linear-gradient(to bottom right, #ffffff,rgba(13, 80, 224, 0.62));

}

.button {
    -fx-hgap: 10;
    -fx-border-style: none;
    -fx-border-radius: 80;
    -fx-background-color: #3867fc;
    -fx-background-radius: 80;
    -fx-font-size: 14;
    -fx-text-fill: white;

}
.button:hover {
    -fx-background-color: rgb(9, 78, 220);
    -fx-text-fill: white;
}


.button:pressed{
    -fx-background-color: #032f81;
}
.choice-box {
    -fx-background-color:#3867fc;
    -fx-background-radius: 80;


}
.choice-box .label {
    -fx-text-fill: white;
    -fx-background-color: #3867fc;
    -fx-background-radius: 80;

}

.choice-box:hover {
    -fx-background-color:rgb(9, 78, 220);
    /*-fx-text-fill: white;*/
}

.color-picker  {
    -fx-background-color: #3867fc;
    -fx-text-fill: white;
    -fx-fill: blue;
    -fx-background-radius: 80;
}

.color-picker .label {
    -fx-text-fill: white;
}
.color-picker:hover {
    -fx-background-color: rgb(9, 78, 220);
    -fx-text-fill: white;
}

.menu-bar {
 /* -fx-background-color: rgb(243, 243, 243);*/
}

#hbox {

    -fx-background-color: rgba(13, 80, 224, 0.62);

}


#listView{
    -fx-background-color: blue;
}


#borderPane {

}

#chatPane {



}
#canvasPane {
    -fx-background-color: White;
}




