.root {
    -fx-background-color: linear-gradient(to bottom right, #ffffff,rgba(13, 80, 224, 0.62));

}

.button {
    -fx-hgap: 10;
    -fx-border-style: none;
    -fx-border-radius: 80;


}

.menu-bar {
 /* -fx-background-color: rgb(243, 243, 243);*/
}

#hbox {
    -fx-border-color: black;
    -fx-background-color: rgba(13, 80, 224, 0.62);

}

.button:hover {
    -fx-background-color: rgba(13, 80, 224, 0.62);
    -fx-text-fill: white;


}


#borderPane {
    -fx-border-color: black;
}

#chatPane {
    -fx-border-color: black;


}
#canvasPane {
    -fx-background-color: White;
}




