.root {
    -fx-background-color: linear-gradient(to bottom right, #ffffff,rgba(13, 80, 224, 0.62));

}
.list-cell {
    -fx-cell-size: 30 ;
    /*-fx-padding: 5px;*/
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-font-family: "Calibri";
}


.button {
    -fx-hgap: 10;
    -fx-border-style: none;
    -fx-border-radius: 80;
    -fx-background-color: rgb(238, 238, 255);
    -fx-background-radius: 80;
    -fx-font-size: 14;
    -fx-text-fill: #000000;
    /*-fx-effect: dropshadow(three-pass-box, rgb(5, 16, 152),2,1.0,0.5,0.5);*/
}
.button:hover {
    -fx-background-color: rgb(9, 78, 220);
    -fx-text-fill: white;
}


.button:pressed{
    -fx-background-color: #eae4e4; /*032f81*/
}
.choice-box {
    -fx-background-color:rgb(238, 238, 255);
    -fx-background-radius: 80;

}
.choice-box .label {
    -fx-text-fill: black;
    -fx-background-radius: 80;

}
.choice-box .label:hover {
    -fx-text-fill: white;
    -fx-background-radius: 80;
}

.choice-box:hover {
    -fx-background-color: rgb(9, 78, 220);
    -fx-text-fill: white;
}

.color-picker  {
    -fx-background-color: rgb(238, 238, 255);
    -fx-text-fill: black;
    -fx-fill: blue;
    -fx-background-radius: 80;
}

.color-picker .label {
    -fx-text-fill: black;
}

.color-picker .label:hover {
    -fx-text-fill: white;
}

.color-picker:hover {
    -fx-background-color: rgb(9, 78, 220);
    -fx-text-fill: white;
}


#hbox {
    -fx-background-color: rgba(13, 80, 224, 0.62);
}

#canvasPane {
    -fx-background-color: White;
}




